@{
    ViewData["Title"] = $"Analyze{ViewBag.Ticker}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Summary">Market</a></li>
        <li class="breadcrumb-item
        active">@ViewBag.Ticker Analysis</li>
    </ol>
</nav>

<div class="card-shadow">
    <div class="card-header bg-primary text-white">
        <h4>@ViewBag.Message</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <p><strong>Ticker:</strong>@ViewBag.Ticker</p>
            <p><strong>Period:</strong>@ViewBag.Days days</p>
        </div>
        <div col-md-6>
            <p><strong>Avg Price:</strong> ₹@ViewBag.AveragePrice</p>
            <p><strong>Volatility:</strong> @ViewBag.Volatility%</p>
        </div>
    </div>
</div>