@model IEnumerable<Week10Assessment.Models.Asset>

<h2>Portfolio Management</h2>

<div class="card mb-3 p-3 bg-light">
    @{
        double totalValue = (double)(ViewData["Total"] ?? 0.0); 
        double futureValue = totalValue ; 
    }
    <h5>Total Value: @totalValue.ToString("C")</h5>
</div>

@if (TempData["Message"] != null) {
    <div class="alert alert-info">@TempData["Message"]</div> 
}

<table class="table">
    @foreach (var item in Model) {
        <tr>
            <td>@item.Ticker</td>
            <td>@item.Value.ToString("C")</td>
            <td>
                <a href="/Asset/Info/@item.Id" class="btn btn-sm btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>